/* Variables to re-use throughough this document */
:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #c6c6c6;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainGreen: #25ff22;
  --lightGrey: #e0e0e0;
}

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/* Default elements for the entire webpage */
/* body {
  margin: 0;
  /* background: var(--mainWhite); */
/* color: var(--mainDark); */
/* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
/* } */

body,
button,
input,
select,
textarea {
  color: var(--mainDark);
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--mainDark);
  margin: 1em 0;
  padding: 0;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

footer {
  background: var(--mainDark) !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
}

.hr-white {
  border-top-color: 1px solid var(--mainWhite);
}

/* Default background for the navbar */
.navbar-background {
  background-color: var(--mainGrey) !important;
}

/* Default color for text */
.text-yellow {
  color: var(--mainYellow);
}

/* Default color for text */
.text-white {
  color: var(--mainWhite);
}

/* Style the icons */
.desktop-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

/* Default background for images */
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-background {
  min-height: 60vh;
}

/* Style for button */
.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}
/* Style on button hover */
.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainBrown) !important;
}

/* Used for creating the page */
#page-container {
  position: relative;
  min-height: 100vh;
}
/* Used to place the footer below the content */
#content-wrap {
  padding-bottom: 10rem;
}

/* Style for row */
.row {
  display: flex;
}

/* Style for column */
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.small-font-size {
  font-size: 12px;
}

.projects {
  background: var(--mainGrey);
}

/* Style when screen smaller than */
@media screen and (max-width: 700px) {
  #content-wrap {
    padding-bottom: 16rem;
  }
  #footer {
    height: 16rem;
  }
  .column {
    width: 100%;
  }
}
